html {
	height: 100%;
}

body {
	background-image: url("grunge-birds.jpg");
  background-position: -138px -150px;
  background-size: 112% 139%;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  margin-left: 1em;
  height: 100%;

	/*
	background-image: url("/Users/alex/Downloads/photos-for-background/image4.JPG");
  background-position: -188px -100px;
  background-size: 113% 183%;
	*/
}

#header-title {
	font-size: 1.5em;
  font-weight: normal;
}

#links {
	position: fixed;
  top: 1.3em;
  right: 0.5em;
}

#links div {
	display: inline;
	margin-right: 1em;
}

#under-construction {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #FF5722;
}

#bottom-text {
	position: fixed;
	bottom: 1em;
	right: 1em;
}
